.cardAluno {
  display: block;
  background-color: white;
  padding: 6px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top: 2px;
  margin-bottom: 6px;
  width: auto;
  max-width: 300px;
  font-size: 14px;
}

.cardTittle {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.editIcon {
  float: right;
}

.cardDescription {
  margin-top: 1vh;
}
