.index {
  margin-top: 4vh;
}

.res-tittle {
  font-size: 24px;
}

.valor {
  font-size: 24px;
  font-weight: bold;
}

.euro {
  float: right;
  font-size: 48px;
}

.res-card {
  display: inline-block;
  padding: 2vh;
  border-radius: 15px;
  width: 170px;
  color: white;
  margin: 1vh;
}

.dark-green {
  background-color: green;
}
.green {
  background-color: rgb(93, 207, 0);
}
.yellow {
  background-color: rgb(170, 167, 0);
}
.red {
  background-color: rgb(173, 54, 54);
}
.blue {
  background-color: rgb(20, 52, 158);
}
