.background {
  display: block;
  width: 50vh;
  height: 50vh;
  margin: 10vh auto 2vh auto;
}

.loginpage {
  display: block;
  height: 50%;
  width: 50vh;
  margin: 0 auto 10vh auto;
  text-align: center;
  color: white;
}

.msg-login {
  background-color: rgb(255, 55, 55);
  padding: 2vh;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  border: rgb(156, 69, 69);
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-right-width: 0;
  border-left-width: 0;
  border-style: solid;
}

.button-login {
  display: block;
  background-color: rgb(0, 13, 71);
  padding: 2vh;
  height: 4vh;
  margin-top: 2vh;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.button-login:hover {
  font-size: 24px;
}
