@tailwind base;
@tailwind components;
@tailwind utilities;

.profile {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.profile-itens {
  margin-left: 30px;
  margin-bottom: 8px;
}

.imgprofile {
  border-radius: 9999px;
  width: 100px;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #fafafa;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid gray;
}

.footer {
  background-color: #e0dede;
  text-align: center;
  padding: 8px;
}

.colum3 {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cardMensalidade {
  display: inline-block;
  border: 2px solid #7fbb63;
  border-radius: 15px;
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 6px;
  width: 300px;
  font-size: 14px;
}

.table {
  border-collapse: collapse;
  border: 1px solid white;
  border-radius: 6px;
  color: gray;
  font-weight: 300;
  background-color: #e4eaff;
  margin-top: 20px;
}

.table-center {
  margin-left: 12%;
}

.table-head {
  font-weight: 300;
  font-weight: bold;
  padding: 25px;
  border-bottom: 1px solid white;
}

.table-row {
  padding: 6px;
  padding-left: 25px;
  border-bottom: 1px solid white;
}

.table-hover:hover {
  background-color: #cfd9fc;
}

.loginpage {
  display: block;
  height: 50%;
  width: 50vh;
  margin: 0 auto 10vh auto;
  text-align: center;
  color: white;
}

.asdasd{
  background-color: #013946;
}

